<!-- <div class="d-flex justify-content-center" *ngIf="loading">
  <mat-progress-spinner mode="indeterminate"> </mat-progress-spinner>
</div> -->
<div *ngIf="weather" class="weather-container row mb-4">
  <div class="col-sm-12 border-bottom-line">
    <div class="row align-items-center">
      <div class="col-sm-10">
        <img [src]="(weather?.weather)[0]?.iconUrl" />
        <span class="weather-city-name">{{ weather.name }}</span>
      </div>
      <div class="col-sm-2 weather-temperature">
        <span>{{ weather?.main?.temp }}</span>
      </div>
      <div class="col-sm-12 weather-description ml-4 pb-2">
        <span>{{ (weather?.weather)[0]?.description }}</span>
      </div>
    </div>
  </div>
  <div class="col-sm-12 p-3">
    <div class="row">
      <div class="col-sm-12 weather-humidity mb-2">
        <span>Humedad </span>
        <span>{{ weather?.main?.humidity }} %</span>
      </div>
      <div class="col-sm-12 weather-pressure mb-2">
        <span>Presión </span>
        <span>{{ weather?.main?.pressure }} hPa</span>
      </div>
      <div
        class="col-sm-12 weather-pressure mb-2"
        *ngIf="weather?.visibility > 0"
      >
        <span>Visibilidad </span>
        <span>{{ weather.visibility }} km</span>
      </div>
    </div>
  </div>
  <!-- {{ res | json }} -->
</div>
